@font-face {
    font-family:'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);

}
@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}

@media (min-device-width: 1px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header h1 {
        color: white;
        font-family: Roboto;
    }
    
    body {
        background-color: #CCCCCC;
    }
    
    body h2 {
        font-family: Roboto;
    }
    
    body p {
        font-family: Roboto-Light;
    }
    
    body ul {
        font-family: Roboto;
    }
    
    header {
        display:flex;
        flex: 1 1 100vw;
        background-color: #141D28;
        align-items: center;
        justify-content: center;
        height: 15vh;
        
    }
    nav {
        display:flex;
        flex: 1 1 ;
        height: 10vh;
        
    }
    .list {
        background-color: #2274A5;
        display: flex;
        width: 100%;
        justify-content: space-around;
        list-style: none;
        align-items: center;
        
        
    }
    #inicio, #curs, #sobre, #plan {
        padding: 4% 2% 4% 2%;
        
    }
    
    main {
       
        display:flex;
        flex: 1 1 100vw;
       
        
    }
    
    .infog {
        display: flex;
        flex-direction: column;
        
    }
    .info, .info1 {
        margin: 2vh 6vw;
        margin: 3vh 3vw;
       
    }
    .carrosel {
        margin-left: 3%;
        margin-top: 3%;
    }
   
}
@media (min-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header h1 {
        color: white;
        font-family: Roboto;
    }
    
    body {
        background-color: #CCCCCC;
    }
    
    body h2 {
        font-family: Roboto;
    }
    
    body p {
        font-family: Roboto-Light;
    }
    
    body ul {
        font-family: Roboto;
    }
    
    header {
        display:flex;
        flex: 1 1 100vw;
        background-color: #141D28;
        align-items: center;
        justify-content: center;
        height: 10vh;
        
    }
    nav {
        display:flex;
        flex: 1 1 ;
        height: 10vh;
        
    }
    .list {
        background-color: #2274A5;
        display: flex;
        width: 100%;
        justify-content: space-around;
        list-style: none;
        align-items: center;
        
        
    }
    #inicio, #curs, #sobre, #plan {
        padding: 4% 2% 4% 2%;
        
    }
    
    main {
       
        display:flex;
        flex: 1 1 100vw;
       
        
    }
    
    .infog {
        display: flex;
        flex-direction: column;
        
    }
    .info, .info1 {
        margin: 2vh 6vw;
        margin: 3vh 3vw;
       
    }
    .carrosel {
        margin-left: 3%;
        margin-top: 3%;
    }
    footer {
        background: #7A7A7A;
        display: flex;
        height: 315h;
        width: 100%;
        
    }
    .footer_list1 {
        display: flex;
        align-items: center;
        height: 15vh;
        justify-content: space-around;
        width: 100%;
    
    
    }
    .footer_list1 li {
        list-style-type: none;
        width: 10vw;
        height: 5vh;
    
        
    }
    .footer_list {
        display: flex;
        flex: 1 1 100vw;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
    #sup:hover, #mais:hover, #seja:hover {
        text-decoration: underline;
    
    }
    .footer_list li a {
        color: black;
        text-decoration: none;
    }
    
}
@media (max-device-width: 1000px) and (orientation: landscape) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header h1 {
        color: white;
        font-family: Roboto;
        font-size: 2em;
    }
    
    body {
        background-color: #CCCCCC;
    }
    .logo1 {
        height: 15vh;
        margin: 2%;
    }
    
    body h2 {
        font-family: Roboto;
    }
    
    body p {
        font-family: Roboto-Light;
    }
    
    body ul {
        font-family: Roboto;
    }
    
    header {
        display:flex;
        flex: 1 1 100vw;
        background-color: #141D28;
        align-items: center;
        justify-content: center;
        height: 20vh;
        
    }
    nav {
        display:flex;
        flex: 1 1 ;
        height: 20vh;
        
    }
    .list {
        background-color: #2274A5;
        display: flex;
        width: 100%;
        justify-content: space-around;
        list-style: none;
        align-items: center;
        justify-content: flex-start;
        
        
    }
    .list li {
        font-size: 1em;
    }
    #inicio, #curs, #sobre, #plan {
        padding: 4% 2% 4% 2%;
        
    }
    
    main {
       
        display:flex;
        flex: 1 1 100vw;
       
        
    }
    
    .infog {
        display: flex;
        flex-direction: column;
        
    }
    .infog h2 {
        font-size: 1.5em;
    }
    .infog p {
        font-size: 1.1em;
    }
    .info, .info1 {
        margin: 2vh 6vw;
        margin: 3vh 3vw;
       
    }
    .carrosel {
        margin-left: 3%;
        margin-top: 3%;
    }
    footer {
        background: #7A7A7A;
        display: flex;
        height: 50vh;
        width: 100%;
        
    }
    .footer_list1 {
        display: flex;
        align-items: center;
        height: 15vh;
        justify-content: space-around;
        width: 100%;
    
    
    }
    .footer_list1 li {
        list-style-type: none;
        width: 10vw;
        height: 5vh;
    
        
    }
    .footer_list p {
        padding-top: 10vh;
    }
    .footer_list {
        display: flex;
        flex: 1 1 100vw;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
    #sup:hover, #mais:hover, #seja:hover {
        text-decoration: underline;
    
    }
    .footer_list li a {
        color: black;
        text-decoration: none;
    }
    .footer_list li {
        font-size: 1em;
    }
    .footer_list p {
        font-size: 1em;
    }
}
@media (min-device-width: 1000px) and (orientation: landscape) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header h1 {
        color: white;
        font-family: Roboto;
        font-size: 4em;
    }
    .logo1 {
        height: 20vh;
    }
    
    body {
        background-color: #CCCCCC;
    }
    
    body h2 {
        font-family: Roboto;
    }
    
    body p {
        font-family: Roboto-Light;
    }
    
    body ul {
        font-family: Roboto;
    }
    
    header {
        display:flex;
        flex: 1 1 100vw;
        background-color: #141D28;
        align-items: center;
        justify-content: center;
        height: 30vh;
        
    }
    nav {
        display:flex;
        flex: 1 1 ;
        height: 20vh;
        
    }
    .list {
        background-color: #2274A5;
        display: flex;
        width: 100%;
        justify-content: space-around;
        list-style: none;
        align-items: center;
        
        
    }
    #inicio, #curs, #sobre, #plan {
        padding: 4% 2% 4% 2%;
        font-size: 2em;
    }
    
    main {
       
        display:flex;
        flex: 1 1 100vw;
       
        
    }
    
    .infog {
        display: flex;
        flex-direction: column;
        
    }
    .info, .info1 {
        margin: 2vh 6vw;
        margin: 3vh 3vw;
       
    }
    .infog  h2 {
        font-size: 3em;
    }
    .infog p {
        font-size: 2em;
    }
    .carrosel {
        margin-left: 3%;
        margin-top: 3%;
    }
    footer {
        background: #7A7A7A;
        display: flex;
        height: 40vh;
        width: 100%;
        
    }
    .footer_list1 {
        display: flex;
        align-items: center;
        height: 15vh;
        justify-content: space-around;
        width: 100%;
    
    
    }
    .footer_list1 li {
        list-style-type: none;
        width: 10vw;
        height: 5vh;
    
        
    }
    .footer_list p {
        padding-top: 10vh;
    }
    .footer_list {
        display: flex;
        flex: 1 1 100vw;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
    #sup:hover, #mais:hover, #seja:hover {
        text-decoration: underline;
    
    }
    .footer_list li a {
        color: black;
        text-decoration: none;
    }
    .footer_list li {
        font-size: 2em;
    }
    .footer_list p {
        font-size: 2em;
    }
}