@font-face {
    font-family:'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);

}
@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}
@media  (min-width: 1500px)  {

    header img {
        margin-right: 1.5em;
        height: 15vh;
        
    }
    header h1 {
        color: white;
        font-family: Roboto;
        font-size: 2em;
    }
    header {
        display:flex;
        flex: 1 1 ;
        background-color: #141D28;
        align-items: center;
        justify-content: center;
        height: 10vh;
        
    }
    .logo1 {
        height: 8vh;
    }
    .list {
        background-color: #2274A5;
        display: flex;
        width: 100%;
        list-style: none;
        align-items: center;
        justify-content: flex-start;
    
    }
    .list {
        font-size: 0.5em;

    }
    #inicio, #curs, #sobre, #plan {
        padding: 1.6% 2.3% 1.6% 2.3%;
        
    }
    body {
        background-color: #CCCCCC;
    }
    
    body h2 {
        font-family: Roboto;
    }
    
    body p {
        font-family: Roboto-Light;
    }
    
    body ul {
        font-family: Roboto;
    }
    
    nav {
        display:flex;

        flex: 1 1 ;
        height: 10vh;
        
    }
    main {
        display:flex;
        margin: 0.5vh 0.5vw;
        flex: 1 1 ;
       
        
    }
    .infog h2 {
        font-size: 2em;
    }
    .infog p {
        font-size: 1em;
    }
    .carrosel {
        margin: 2%;
    }
    .infog {
        display: flex;
        justify-content: space-around;
        
    }
    .info {
    
        margin: 2vh 2vw;
    }
    .info1 {
        margin: 2vh 2vw;
        
    }
    .footer_list1 li{
        font-size: 1.1em;
    }

    .footer_list p {
        font-size: 1.1em;
    }
    .carrosel {
        margin-left: 2.5%;
    }


}