@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}



* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    font-family: Roboto-Regular;
}
body header h1 {
    color: white;
}
body header {
    background-color:  #141D28;
}
body header nav {
    background-color: #2274A5;
}
body ul li {
    font-family: Roboto-Light;
    list-style: none;
}
body ul li a {
    color: white;
    text-decoration: none;

}
body ul li  i {
    color: white;
}