@font-face {
    font-family:'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);

}
@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body h1 {
    font-family: Roboto;
}

body h2 {
    font-family: Roboto;
}

body p {
    font-family: Roboto-Light;
}

body ul {
    font-family: Roboto;
}

header {
    display:flex;
    margin: 3px;
    flex: 1 1 100vw;
     
}
nav {
    display:flex;
    margin: 3px;
    flex: 1 1 100vw;
    
}
main {
    display:flex;
    margin: 3px;
    flex: 1 1 100vw;
    
}
aside {
    display:flex;
    margin: 3px;
    flex: 1 1 100vw;
    
}
footer {
    display:flex;
    margin: 3px;
    flex: 1 1 100vw;

}