@font-face {
    font-family:'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);

}
@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}

@media (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header h1 {
        color: white;
        font-family: Roboto;
    }
    
    body {
        background-color: #CCCCCC;
    }
    
    body h2 {
        font-family: Roboto;
    }
    
    body p {
        font-family: Roboto-Light;
    }
    
    body ul {
        font-family: Roboto;
    }
    
    header {
        display:flex;
        margin: 0.5vh 0.5vw;
        flex: 1 1 100vw;
        background-color: #141D28;
        align-items: center;
        justify-content: center;
        height: 15vh;
        
    }
    nav {
        display:flex;
        margin: 0.5vh 0.5vw;
        flex: 1 1 ;
        height: 10vh;
        
    }
    .list1 {
        background-color: #2274A5;
        display: flex;
        width: 100%;
        justify-content: space-around;
        list-style: none;
        align-items: center;
        
        
    }
    #inicio {
       padding: 3%;
    }
     #inicio:hover {
         background-color: #3287C1;
         text-decoration: underline;
         color: white;
     }
     #curs {
        padding: 3%;
     }
      #curs:hover {
          background-color: #3287C1;
          text-decoration: underline;
          color: white;
      }
       #sobre {
        padding: 3%;
     }
      #sobre:hover {
          background-color: #3287C1;
          text-decoration: underline;
          color: white;
      }
      #plan {
        padding: 3%;
     }
      #plan:hover {
          background-color: #3287C1;
          text-decoration: underline;
          color: white;
      }
     main {
        border: solid 3px black;
        display:flex;
        margin: 0.5vh 0.5vw;
        flex: 1 1 100vw;
       
        
    }
    .infog {
        display: flex;
        flex-direction: column;
        
    }
    .info, .info1 {
        margin: 2vh 6vw;
        margin: 3vh 3vw;
        border: solid 3px black;
    }
    
   
    
   






}
