@font-face {
    font-family:'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);

}
@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}
@media (min-width: 1025px) {

    header img {
        margin-right: 1.5em;
        height: 15vh;
        
    }
    header h1 {
        color: white;
        font-family: Roboto;
        font-size: 3.5em;
    }
    header {
        display:flex;
        margin: 0.5vh 0.5vw;
        flex: 1 1 100vw;
        background-color: #141D28;
        align-items: center;
        justify-content: center;
        height: 20vh;
        
    }
    .list {
        background-color: #2274A5;
        display: flex;
        width: 100%;
        list-style: none;
        align-items: center;
    
    }
    
    #inicio, #curs, #sobre, #plan {
        padding: 1.6% 2.3% 1.6% 2.3%;
        
    }
    body {
        background-color: #CCCCCC;
    }
    
    body h2 {
        font-family: Roboto;
    }
    
    body p {
        font-family: Roboto-Light;
    }
    
    body ul {
        font-family: Roboto;
    }
    
    nav {
        display:flex;
        margin: 0.5vh 0.5vw;
        flex: 1 1 100vw;
        height: 5vw;
        
    }
    main {
        display:flex;
        margin: 0.5vh 0.5vw;
        flex: 1 1 100vw;
       
        
    }
    .carrosel {
        margin: 2%;
    }
    .infog {
        display: flex;
        justify-content: space-around;
        
    }
    .info {
    
        margin: 3vh 3vw;
    }
    .info1 {
        margin: 3vh 3vw;
        
    }

    footer {
        background: #7A7A7A;
        display: flex;
        
    }
    .footer_list1 {
        align-items: center;
        justify-content: center;
    }

}