@font-face {
    font-family:'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);

}
@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 #inicio, #curs, #sobre, #plan {
    color: white;
    text-decoration: none;
    

}
a {
    text-decoration: none;
    color: white;
}

#inicio:hover, #curs:hover, #sobre:hover, #plan:hover {
    background-color: #3287C1;
    color: white;
    text-decoration: underline;
}

.carrosel {
    border:  2px;
    margin: 3vh 2vw;

}

 


 
  