@font-face {
    font-family:'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);

}
@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}

footer {
    border: solid 3px;
    margin: 0.5vh 0.5vw;
    background: #7A7A7A;
}
.carrosel {
    border:  2px;
    margin: 3vh 2vw;

}
.list1 li a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}
