/* Parte completa do conteudo principal */

main {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: #f4f4f4;
}

/* Parte de section/classe do parte principal onde vai ter os conteudos videos e textos */
.content {
    flex: 1;
    margin: 0 1rem;
    padding: 1rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
.content p {
   text-align: left;
    font-size: 1.15rem;
}



footer {
    text-align: center;
    padding: 1rem;
    background-color: #141D28;
    color: white;
    margin-top: 1rem;
    width: 100%;
}
/* Container do rodape do site */
.container {
    display: flex;
    width: 100%;
    height: 08em;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
/* DIV DOS LINKS */
.container div a {
   
    width: 1px;
    height: 1px;
    text-decoration: none;
    color: white;

}

#curs:hover {
    color:#3287C1 ;
}
#curs1:hover {
    color:#3287C1 ;
}

